In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./Desktop/Artyom_DS/ML in Business/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

___1. Какое соотношение мужчин и женщин в представленном наборе данных?___

In [2]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [3]:
df['gender'].value_counts()[0] / df['gender'].value_counts()[1]

1.0192087155963303

___2. Какое количество уникальных значений у поля InternetService?___

In [4]:
df['InternetService'].nunique()

3

___3. Выведите статистики по полю TotalCharges (median, mean, std).___

In [5]:
df['TotalCharges'].describe()

count     7043
unique    6531
top
freq        11
Name: TotalCharges, dtype: object

In [6]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

Тип object не показывает числовые данные

___4. Сделайте замену значений поля PhoneService на числовые (Yes->1, No->0)___

In [7]:
df['PhoneService'].head(3)

0     No
1    Yes
2    Yes
Name: PhoneService, dtype: object

In [8]:
df['PhoneService'] = list(map(lambda x: 1 if x=='Yes' else 0, df['PhoneService']))

In [9]:
df['PhoneService'].head(3)

0    0
1    1
2    1
Name: PhoneService, dtype: int64

___5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. 
Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. 
Снова выведите статистики и сравните с тем, что вы видели в вопросе 3___

In [10]:
df.loc[(df['TotalCharges']==' '), 'TotalCharges'] = np.nan
df['TotalCharges'] = df['TotalCharges'].astype('float32')

In [11]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [12]:
df['TotalCharges'].describe()

count    7043.000000
mean     2279.732178
std      2266.794434
min         0.000000
25%       398.549988
50%      1394.550049
75%      3786.599976
max      8684.799805
Name: TotalCharges, dtype: float64

___6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)___

In [13]:
df['Churn'].head(3)

0     No
1     No
2    Yes
Name: Churn, dtype: object

In [14]:
df['Churn'] = list(map(lambda x: 1 if x=='Yes' else 0, df['Churn']))

In [15]:
df['Churn'].head(3)

0    0
1    0
2    1
Name: Churn, dtype: int64

___7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport на числовые 
(Yes -> 1, No -> 0, No internet service->0)___

In [16]:
df[['StreamingMovies', 'StreamingTV', 'TechSupport']].head(3)

  StreamingMovies StreamingTV TechSupport
0              No          No          No
1              No          No          No
2              No          No          No

In [17]:
df['StreamingMovies'] = list(map(lambda x: 1 if x=='Yes' else 0, df['StreamingMovies']))
df['StreamingTV'] = list(map(lambda x: 1 if x=='Yes' else 0, df['StreamingTV']))
df['TechSupport'] = list(map(lambda x: 1 if x=='Yes' else 0, df['TechSupport']))

In [18]:
df[['StreamingMovies', 'StreamingTV', 'TechSupport']].head(3)

   StreamingMovies  StreamingTV  TechSupport
0                0            0            0
1                0            0            0
2                0            0            0

___8. Заполните пропуски в поле PhoneService значением 0___

In [19]:
df['PhoneService'].describe()

count    7043.000000
mean        0.903166
std         0.295752
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: PhoneService, dtype: float64

Пропусков нет.

___9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection 
Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)___

In [20]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'

X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size=0.25, random_state=42)

___10. Соберите pipeline для поля gender 
(нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) 
из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее___

In [21]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

___11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку 
(пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
#sklearn.pipeline.Pipeline.fit)___

In [22]:
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
6607              0            1
2598              1            0
2345              1            0
4093              1            0
693               1            0
...             ...          ...
3772              0            1
5191              1            0
5226              0            1
5390              0            1
860               0            1

[5282 rows x 2 columns]

___12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). 
Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html___

In [23]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

___13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges___

In [24]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

In [25]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [26]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

In [27]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('tenure',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler(copy=True,
                                                                                 with_mean=True,
                                                                                 with_std=True))],
                                                          verbose=False)),
                                                ('TotalCharges',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

___14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и 
убедитесь что вам возвращаются вероятности для 2 классов___

In [28]:
y_pred_proba = pipeline.predict_proba(X_test)
y_pred_proba

array([[0.27666667, 0.72333333],
       [1.        , 0.        ],
       [1.        , 0.        ],
       ...,
       [0.87      , 0.13      ],
       [0.13      , 0.87      ],
       [0.81      , 0.19      ]])

In [29]:
y_pred = pipeline.predict(X_test)
y_pred

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

___15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)___

In [30]:
from sklearn.metrics import roc_auc_score, log_loss

print(f'ROC_AUC: {roc_auc_score(y_test, y_pred)}')
print(f'LOG_LOSS: {log_loss(y_test, y_pred)}')

ROC_AUC: 0.6851255052289774
LOG_LOSS: 7.94340509569268